<div class="header absolute top-0 left-0 right-0 z-[100]">
  <div class="container flex items-center justify-between mx-auto p-8">
    <nav>
      <ul class="nav__container">
        <li>
          <a routerLink="/" class="nav__link">
            <fa-icon [icon]="homeIcon" [styles]="{ color: 'white' }"></fa-icon>
            <p class="nav__text">Home</p>
          </a>
        </li>
        <li>
          <a routerLink="/movies" class="nav__link">
            <fa-icon [icon]="filmIcon" [styles]="{ color: 'white' }"></fa-icon>
            <p class="nav__text">Movies</p>
          </a>
        </li>
      </ul>
    </nav>

    <div>
      <a
        routerLink="/"
        class="cursor-pointer hover:scale-105 transform transition-all"
      >
        <h1 class="font-logo text-white text-5xl">Filmr</h1>
      </a>
    </div>

    <nav>
      <ul class="nav__container">
        <li>
          <a routerLink="/search" class="nav__link">
            <fa-icon
              [icon]="searchIcon"
              [styles]="{ color: 'white' }"
            ></fa-icon>
            <p class="nav__text">Search</p>
          </a>
        </li>
        <li>
          <a routerLink="/favorites" class="nav__link">
            <fa-icon
              [icon]="favouriteIcon"
              [styles]="{ color: 'white' }"
            ></fa-icon>
            <p class="nav__text">Favorites</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
