<div
  class="relative backdrop rounded-sm shadow-md cursor-pointer hover:scale-110 transform transition-all"
>
  <div class="ribbon ribbon-top-left">
    <span>Watched</span>
  </div>
  <img
    [routerLink]="['/movie', movie.id]"
    src="{{ poster }}"
    alt="{{ movie.title }}"
    className="object-cover rounded-sm bg-backdrop"
  />
  <div class="overlay"></div>

  <div class="absolute bottom-5 left-5 right-5">
    <h4 class="text-white text-xl font-bold">{{ movie.title }}</h4>
  </div>
</div>
