<div
  [routerLink]="['/movie', movie.id]"
  class="relative backdrop rounded-sm shadow-md cursor-pointer hover:scale-110 transform transition-all"
>
  <div
    class="absolute rounded-full p-2 hover:bg-slate-400 top-2 right-2 cursor-pointer hover:scale-105 transform transition-all"
  >
    <fa-icon [icon]="favoriteIcon" [styles]="{ color: 'white' }"></fa-icon>
  </div>

  <img
    src="{{ poster }}"
    alt="{{ movie.title }}"
    className="object-cover rounded-sm bg-backdrop"
  />
  <div class="overlay"></div>

  <div class="absolute bottom-5 left-5 right-5">
    <h4 class="text-white text-xl font-bold">{{ movie.title }}</h4>
    <button
      class="mt-5 flex gap-3 bg-primary rounded-md p-3 hover:scale-110 transform transition-all text-xs"
    >
      <fa-icon [icon]="filmIcon"></fa-icon>
      Add to tracked
    </button>
  </div>
</div>
